<html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
    <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">Glassphonix</a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/charizard">Charizard</a>
      </li>
      <li>
        <a href="/brian">Brian</a>
      </li>
      <li>
        <a href="/alfred">Alfred</a>
      </li>
      <li>
        <a href="/preston">Preston</a>
      </li>
      <li>
        <a href="/milhouse">Milhouse</a>
      </li>
      <li>
        <a href="/hans">Hans</a>
      </li>
      <li>
        <a href="/travis">Taylor</a>
      </li>
      <li>
        <a href="/gloria">Gloria</a>
      </li>
      <li>
        <a href="/actions">Create an action</a>
      </li>
      <li>
        <a href="/sitemap">Sitemap</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>Welcome to Glassphonix</h1>
      <p>Command your shop</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
</body>
</html>
